*body{
    margin: 0;
    padding: 0;
    
    
}
   

nav.logo{
    margin: 0;
    padding: 0;
    
    position: relative;
    z-index:10 ;
    box-sizing: border-box;
    align-items: center;
    
}



nav img{
    width: 15%;
}

nav logo ul li{
    margin-left: 10px;
    float: left;
}

 /*.nav-right img{
    width: 25px;
    margin-right: 10px;
    
}
.nav-right .user-icon{
    width:35px ;
    border-radius: 50%;
    margin-right:0 ;
}
.nav-right img{
    width:25px ;
    margin-right:25px ;
}
.nav-right.user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

    
.nav-middle .mic-icon{
    width: 50px;
}
.nav-middle.search-box{
    border: 5px solid #5a0cd6;
    margin-right:15px ;
    border: dashed;
    border-width: 2px 4px;
    border-radius: 40px;
  
    
   
    
}
.nav-middle.search-box input{
    width:400px ;
    border: 1px;
    outline:1px ;
    background: #5a0cd6;
    text-align: center;
    
}
.nav-middle.search-box img{
    width: 5px;
}
*/

nav.logo ul li{
    width: 10%;
    align-items: center;
    position: relative;
}

.btn-outline-success {
    color: rgb(223, 62, 174);
    border-color: #198754;
}

#home{
    display: flex;
    padding: 0px 20px;
    height: 500px;
}
#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    animation-duration: 20s;
}
#slider figure img{
    width: 20%;
    float: left;
    height: 600px;
    animation-direction: alternate;
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -200%;
    }
    85% {
        left: -200%;
    }
    90% {
         left: -200%;
    }
    100% {
        left: -200%;
    }
}

.mode {
    float:right;
}
.change {
    cursor: pointer;
    border: 1px solid rgb(240, 236, 236);
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}
.dark{
    background-color: #000000;
    color: #ffffff;
}



