<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vidweb</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <img src="{{url_for('static', filename='img/vidweb.png')}}" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white font-weight-bold" href="{{url_for('index')}}">Home <span
              class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" href="{{url_for('ring')}}">Ringtones</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white font-weight-bold" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mp3 Songs
          </a>
          <div class="dropdown-menu" aria-busy="navbarDropdown">


            <a class="dropdown-item" href="{{url_for('bolywood')}}">Bollywood songs </a>
            <a class="dropdown-item" href="{{url_for('marathi')}}">marathi songs </a>
            <a class="dropdown-item" href="{{url_for('gujarati')}}">Gujarati songs</a>
            <a class="dropdown-item" href="{{url_for('hariyanvi')}}">Hariyanvi songs</a>
            <a class="dropdown-item" href="{{url_for('punjabi')}}">Punjabi songs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>





        <li class="nav-item">
          <a class="nav-link data-toggle text-white font-weight-bold" href="{{url_for('gallary')}}">Gallery</a>
        </li>

        <li class="nav-item">
          <a class="nav-link data-toggle text-white font-weight-bold btn btn-outline-danger  my-2 my-sm-0"
            href="{{url_for('logout')}}"> Logout</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Song" aria-busy="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0 " type="submit">Search</button>
      </form>
    </div>
  </nav>


  <center>
    <div class="about-sectioin bg-warning">
      <div class="inner-container ">
        <h1>Developer Details
          <div class="border">
            <img="{{url_for('static', filename='img/wallpaperflare.com_wallpaper (19).jpg' )}}>

          </div>
        </h1>
        <p class="text text-white font-weight-bold ">
          Developer Name:- <strong><h1>Er.Devendra Pohekar</h1></strong><br>
          Email Address :- devendrapohekar30@gmail.com<br>
          Mobile Number :- 9109396802<br> 
          Address :- Pipari Raiyyat Burhanpur Madhya Pradesh 450445<br>
        </p>
        <center>
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <img src="{{url_for('static', filename='img/devendra.png')}}"
                class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
            </div>
          </div>
        </center>
      </div>
    </div>
    
  </center>
</body>

</html>